/* MeyerWeb CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: Tahoma;
}

p, .letter {
    padding-bottom:15px;
}

.nav_container{
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 6px 0px;
    text-transform: uppercase;
    background-color: #FED766;
/* is it ok to have position and display? */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.nav_container a{
    text-decoration: none; 
    color:#43464B;
}
.intro_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background-color: #43464B;
    color: #E0E0E0;
}
/* .intro_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background-color: #43464B;
    color: #E0E0E0;
} */

.intro_footer{
    align-self: flex-end;
}

.projects_container{
    padding-top: 12%;
    background-color: #e5e5e5;
}

.skills_container{
    padding-top: 12%;
    background-color: purple;
}

/* .about_container{
    
    color: #43464B;
    
    padding:10%;
    padding-bottom: 0;
    line-height: 2;
    
} */

.about_container{
    height: 90vh;
    display: flex;
    align-items: center;
    font-size: 24px;
    background-color: white;
    color: #43464B;
    /* better way than padding? */
    padding: 0 10%;
    /* same problem as before with signature to right and bottom */
}

.letter{
    font-size: 14px;
    color:#43464B;
}

/*Need a better way than height 90hv to include contact on the same page as about*/

.contact_container{
    background-color: #FED766;
}

.contact_container a{
    text-decoration: none; 
    color:#43464B;
}
.contact_container{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 6px;
}

