/* MeyerWeb CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: Tahoma;
}

h2, p, .letter {
    padding-bottom:15px;
}


.nav_container{
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 6px 0px;
    text-transform: uppercase;
    background-color: #FED766;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.nav_container a{
    text-decoration: none; 
    color:#43464B;
}
/* .intro_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background-color: #43464B;
    color: #E0E0E0;
} */
.intro_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background-color: #43464B;
    color: #E0E0E0;
}
.intro_top{
    margin-top: auto;
}

.intro_footer{
    margin-top: auto;
    /* align-self: flex-end; */
    color: #FED766;
    opacity: .35;
}

/* Make projects@nav line up correctly */
.projects_container{
    /* display: flex; */
    background-color: #e5e5e5;
}

/* make skills@nav line up correctly */
.skills_container{
    border: 1px solid red;
    width: 100%;
    background-color: grey;
    display:flex;
    flex-direction: column-reverse;
    padding: 6px;
    list-style-type: none;
}

.frontend{
    display: flex;
    justify-content: flex-start;
    padding: 6px;
}

.frontend_development{
    /* bad */
    padding-right: 12px;
    display: flex;
    flex-wrap: wrap;
}

.frontend_tools{
    /* bad */
    min-width: 30%;
    margin: auto;
}

.backend{
    display: flex;
    flex-direction: row-reverse;
    padding: 6px;
}

.backend_development{
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
}

.backend_tools{
    /* bad */
    min-width: 30%;
    margin: auto;
}

.about_container{
    height: 90vh;
    min-height: 300px;
    display: flex;
    align-items: center;
    font-size: 24px;
    background-color: white;
    color: #43464B;
    /* better way than padding? */
    padding: 0 10%;
    /* same problem as before with signature to right and bottom */
}

.letter{
    font-size: 14px;
    color:#43464B;
    line-height: 2
}

.letter>p{
    padding-bottom: 16px;
}

.signature{
    padding-right: 24px;
    display: flex;
    justify-content: flex-end;
}

/*Need a better way than height 90hv to include contact on the same page as about*/

.contact_container{
    background-color: #FED766;
    display: flex;
    justify-content: flex-end;
}

.contact_container a{
    text-decoration: none; 
    color:#43464B;
}
.contact_container{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 6px;
}

