/* responseive vs iphone6 + bounds */

.main-nav, .intro, .projects, .skills, .about, .contact{
    border: 1px solid red;
}

*{
    box-sizing: border-box;
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    border: 1px solid green;
    
}
/* position: fixed */
.nav_container a{
    text-decoration: none; 
}

.intro{
    padding: 25% 10px;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    font-size: 24px;
    text-transform: uppercase;
}

.contact_container{
    display: flex;
    justify-content: space-around;
    
}